# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
bin/

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Spring Boot
# =========================
application-local.properties
application-secret.properties

# =========================
# Temporary Files
# =========================
*.tmp
*.swp

# =========================
# Compiled Class Files
# =========================
*.class